* {
  box-sizing: border-box;
}

.header {
  background-color: gainsboro;
  width: 100vw;
  height: 10vh;
  padding: 2vh 5vw 2vh 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title a {
  font-size: 30px;
  text-decoration: none;
  color: #333333;
  margin-right: 50vw;
}


.sign a {
  font-size: 20px;
  text-decoration: none;
  color: #333333;
}

.meal a {
  font-size: 20px;
  text-decoration: none;
  color: #333333;
}