<header class='header'>
  <div class='title'>
    <%= link_to '5 Ns', '/' %>
  </div>
  <div class='sign'>
    <%= link_to 'ログイン' %>
  </div>
  <div class='sign'>
    <%= link_to '新規登録' %>
  </div>
  <div class='meal'>
    <%= link_to '今日の食事', '/meals', method: :GET %>
  </div>
</header>