<!DOCTYPE HTML>
<%= render "shared/second-header" %>
<div class='service-main'>
  <h1 class='service-title'>
    1日に必要な栄養素が補給されているのか確認してみよう！
  </h1>
  <div>
    <%= image_tag "nutrients.jpeg", class: 'nutrients.img' %>
  </div>
  <%= form_with(url: "/meals/new", method: :get, data: { turbo: false }) do |form| %>
  <div>
    <%= form.submit "始める", class:'start' %>
  </div>
  <% end %>
</div>